<section class="m-section__small_details">
<section class="m-section__underlay"></section>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="intro-message">
            <h1>Blhackathon first edition: The Arts</h1>
            <hr class="section-heading-spacer-alt">
        </div>
        <a name="form"></a>
        <div class="col-lg-8 col-sm-push-2  col-sm-8">
          <div class="clearfix"></div>
          <p> The first blhackathon edition will be a hackathon aiming to support art in the black community.</p>
          <p><i><b>Hackathon</b>: An event, typically lasting several days, in which a large number of people meet to engage in collaborative project building.</i>
          </p>
          <p>Submit an idea for a project you think could help the creative community, change the art game, or even save lives, by filling out the form below. <br> Be original! Only 3 ideas will get chosen. Read more about the event <a class="more">here</a> <br> Submission ends [insert date]</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Idea form -->
  <section class="m-section__idea_form">
    <div class="m-section__idea_form__intro-header">
      <div class="container">
        <div class="row" style="padding-bottom:0;">
          <!-- FORM -->
          <div class="col-md-8 col-lg-8 m-section__idea_form__intro-form-box">
            <h1>Submit an Idea</h1>
            <%= form_for @idea do |f| %>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_field :twitter, placeholder: "Twitter or Instagram", class: "form-control" %>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_area :description, placeholder: "What's your idea", class: "form-control" %>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="form-group col-xs-12">
                <%= f.submit "Submit", class: "btn btn-block btn-success btn-lg" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
