<div class="m-section__small_details">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <h1>Blhackathon first edition: The Arts</h1>
        <hr class="section-heading-spacer-alt">
        <div class="col-lg-8 col-sm-push-2  col-sm-8">
          <div class="clearfix"></div>
          <p class="lead">Tech and Art should come together more often.</p>
          <p> There should be a place for us to feel free to nerd out, geek out, be wonderfully weird and excited about building stuff. A space free of judgment, and full of creativity, pedagogy, and collaboration. Egos should be left outside, and positivity should take over.Blhackathon wants to provide that environment.</p>
          <p> It’ll be the chance to be ourselves, and get to know one another while collaborating on interesting projects. Let’s build a community.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Idea form -->
  <section class="m-section__idea_form">
    <a name="form"></a>
    <div class="intro-header">
      <div class="container">
        <div class="row" style="padding-bottom:0;">
          <!-- FORM -->
          <div class="col-md-8 col-lg-8 intro-form-box">
            <h1>Submit an Idea</h1>
            <%= form_for @idea do |f| %>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_field :twitter, placeholder: "Twitter or Instagram", class: "form-control" %>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <%= f.text_area :description, placeholder: "What's your idea", class: "form-control" %>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-block btn-success btn-lg">Send</button>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>