<!DOCTYPE html>
<html>
<head>
  <title>THE BLHACKATHON</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash-#{name}" %>
  <% end %>
  <%= render 'layouts/nav' %>
  <%= render 'info/about' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
